name: Spring boot docker image CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      # 소스 코드 체크아웃
      - name: Checkout source
        uses: actions/checkout@v3

      # JDK 17 설정
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # gradlew 실행 권한 부여
      - name: gradlew 파일 실행 권한 설정
        run: chmod +x gradlew

      # 테스트
      - name: Test with gradle
        run: ./gradlew --info test

      # Spring Boot 실행 파일 생성
      - name: Spring boot 실행 파일 생성
        run: ./gradlew bootJar

      # Docker 이미지 빌드
      - name: Docker image 생성
        run: docker build -t yangjay666/devops_step2:v1.0 .

      # Docker Hub 로그인
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: yangjay666
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Docker Hub에 이미지 푸시
      - name: Docker image 허브에 저장
        run: docker push yangjay666/devops_step2:v1.0

  deploy:
    name: Deploy
    needs: build
    runs-on: self-hosted

    steps:
      # Docker Hub 로그인
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: yangjay666
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Docker 이미지 pull
      - name: Docker image pull
        run: docker pull yangjay666/devops_step2:v1.0
